<div class="flex flex-col items-center justify-center gap-4 py-6 w-full border-t border-gray-300">
    <h2 class="text-2xl text-center font-bold text-utal">¿QUIÉNES SOMOS?</h2>
    <div class="flex justify-center items-center bg-gray-100 px-5 py-4 max-w-[700px] border border-gray-200 rounded-lg shadow-md">
        <div class="prose prose-base">
            <p>
                Los Laboratorios de Prototipaje de la Universidad de Talca son
                espacios de innovación y desarrollo dedicados a transformar ideas en
                soluciones concretas.
            </p>
            <p>
                Contamos con tecnología de punta, incluyendo herramientas avanzadas de impresión 3D,
                corte láser y mecanizado, que permiten la creación, fabricación y validación de 
                prototipos de alta precisión.
            </p>
            <p>
                Nuestros laboratorios están diseñados para apoyar a estudiantes, investigadores,
                emprendedores y empresas, promoviendo la colaboración interdisciplinaria y la
                transferencia tecnológica.
            </p>
            <p>
                Con un enfoque en la investigación aplicada, contribuimos al
                fortalecimiento del ecosistema de innovación en la región y el país.
            </p>
        </div>
    </div>
</div>