<div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl text-center font-bold">Misión</h1>
    <div class="bg-gray-400 px-5 py-4 w-3/4">
        <p class="text-start">
            El objetivo de este proyecto es desarrollar un sistema de gestión de
            laboratorios en el que se puedan gestionar los laboratorios de forma
            centralizada, permitiendo la gestión de los materiales, equipos, y
            recursos de laboratorios.
        </p>
    </div>
</div>