<footer class="flex flex-col w-full mt-auto justify-between px-10 md:px-32 gap-0 bg-[#1c1c1c] text-white geologica">
    <div class="flex w-full justify-center sm:justify-end items-center py-6">
        <div class="flex flex-row justify-center items-center gap-2 md:gap-3">
            <div class="flex justify-center items-center md:mt-[2px]">
                <h3 class="font-normal text-start text-sm leading-none">SÍGUENOS:</h3>
            </div>
            <div class="flex justify-center items-center gap-3 w-full media">
                <a href="https://www.facebook.com/" target="_blank"><img src="/icons/facebook.svg" alt="Logo Facebook" class="aspect-square w-8 h-8" loading="lazy" /></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="/icons/linkedin.svg" alt="Logo LinkedIn" class="aspect-square w-8 h-8" loading="lazy" /></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="/icons/instagram.svg" alt="Logo Instagram" class="aspect-square w-8 h-8" loading="lazy" /></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="/icons/youtube.svg" alt="Logo Youtube" class="aspect-square w-8 h-8" loading="lazy" /></a>
            </div>
        </div>
    </div>
    <div class="flex flex-row w-full justify-start sm:justify-between flex-wrap items-start sm:items-center gap-4 py-6 border-t border-white">
        <a href="/" aria-label="logo" >
            <div class="flex flex-col justify-center items-start text-start w-52 border-l border-white pl-2 gap-[2px]">
                <h2 class="font-semibold text-lg leading-none">DIRECCIÓN DE INNOVACIÓN Y TRANSFERENCIA</h2>
                <h3 class="font-medium text-base leading-none">Vicerrectoría Académica</h3>
                <h3 class="font-normal text-sm leading-none">Universidad de Talca</h3>
            </div>
        </a>
        <div class="flex flex-col md:flex-row justify-center items-center gap-2 md:gap-3">
            <img src="/images/logos_red_anid.png" alt="Logos Anid" class="w-72" loading="lazy" />
        </div>
    </div>
</footer>

<style>
    .media a:hover {
        transform: scale(1.1);
        transition: all 0.2s ease;
    }
</style>