---
import Mision from '../components/Mision.astro';
import Vision from '../components/Vision.astro';
---

<div class="flex items-center justify-evenly p-6 gap-4">
    <Mision />
    <Vision />
</div>