---
import Logout from "../components/Logout.vue"

---

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const dropdown = document.getElementById('dropdown');

    document.addEventListener('DOMContentLoaded', function () {
        
        menuToggle.addEventListener('click', function () {
            dropdown.classList.toggle('hidden');
            dropdown.classList.toggle('flex');
        });

        document.addEventListener('click', function (event) {
            const target = event.target;
            const isClickInsideDropdown = dropdown.contains(target as Node);
            const isClickOnMenuToggle = menuToggle.contains(target as Node);
            
            if (!isClickInsideDropdown && !isClickOnMenuToggle) {
                dropdown.classList.add('hidden');
                dropdown.classList.remove('flex');
            }
        });

    });
</script>

<nav class="flex w-full justify-between items-center border-b px-4 md:px-20 border-gray-300">
    <a href="/" aria-label="logo">
        <div class="flex items-center gap-6 px-4 md:px-12 py-4">
            <img src="/logo.svg" alt="logo utal" class="w-20 h-20" />
            <div class="hidden md:flex flex-col justify-center items-center text-center text-nowrap">
                <h3 class="text-xl font-bold leading-tight">Vicerrectoría de Pregrado</h3>
                <h4 class="text-lg leading-tight">Universidad de Talca</h4>
            </div>
        </div>
    </a>
    <div class="hidden md:flex items-center px-12">
        <Logout  />
    </div>
    <div class="flex items-center space-x-4 md:hidden">
        <button id="menu-toggle" class="text-gray-600 focus:outline-none">
            <img src="/menu.svg" alt="menu" class="w-8 h-8" />
        </button>
    </div>
    <div id="dropdown" class="hidden absolute top-20 right-4 bg-white shadow-lg rounded w-48 p-2 z-20 md:hidden transitions">
        <ul class="flex flex-col gap-2 w-full">
            <li class="w-full hover:bg-utal/10 py-2 px-4 rounded cursor-pointer transitions"><a href="/">Inicio</a></li>
            <li class="w-full hover:bg-utal/10 py-2 px-4 rounded cursor-pointer transitions"><a href="/admin">Acceso Admin</a></li>
        </ul>
    </div>
</nav>