---
import Card from "../components/Card.astro";
---
<section class="flex flex-col w-full py-6 px-8 md:px-32">
    <header class="flex flex-col justify-center py-6 border-t border-gray-300 gap-3 w-full">
        <h2 class="text-2xl font-bold text-center text-utal">SERVICIOS</h2>
        <h3 class="text-lg text-center">Aquí puedes realizar las solicitudes para tus laboratorios.</h3>
    </header>
    <div class="flex flex-wrap justify-evenly items-center gap-4 w-full py-6 px-4">
        <Card text="IMPRESIÓN 3D" url="/impresion">
            <img slot="img" src="/icons/impresion.svg" alt="Impresión" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Solicita la impresion de tus diseños 3D, con opciones de materiales y acabados personalizados para prototipos o proyectos finales.</h2>
        </Card>
        <Card text="ASESORIA EN LABORATORIO" url="/laboratorio">
            <img slot="img" src="/icons/materiales.svg" alt="Materiales" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Reserva una hora en nuestro laboratorio para analizar tus desafios y recibir asesoramiento profesional, definiendo si tu proyecto puede realizarse con impresion 3D o requiere otra técnica de manufactura.</h2>
        </Card>
        <Card text="ASESORÍA ONLINE" url="/asesoria">
            <img slot="img" src="/icons/asesoria.svg" alt="Agendar" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Agenda una hora de asesoría remota para resolver dudas sobre tus diseños, configuraciones o problemas antes y durante el proceso de impresión.</h2>
        </Card>
    </div>
</section>