---
import Card from "../components/Card.astro";
---
<section class="flex flex-col w-full py-6 px-8 md:px-32">
    <header class="flex flex-col justify-center py-6 border-t border-gray-300 gap-3 w-full">
        <h2 class="text-2xl font-bold text-center text-utal">SERVICIOS</h2>
        <h3 class="text-lg text-center">Aquí puedes realizar las solicitudes para tus laboratorios</h3>
    </header>
    <div class="flex flex-wrap justify-evenly items-center gap-4 w-full py-6 px-4">
        <Card text="LABORATORIO" url="/laboratorio">
            <img slot="img" src="/icons/materiales.svg" alt="Materiales" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Aquí puedes solicitar la realización de tus laboratorios</h2>
        </Card>
        <Card text="IMPRESIÓN" url="/impresion">
            <img slot="img" src="/icons/impresion.svg" alt="Impresión" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Aquí puedes solicitar impresiones para tus laboratorios</h2>
        </Card>
        <Card text="ASESORÍA" url="/asesoria">
            <img slot="img" src="/icons/asesoria.svg" alt="Agendar" loading="lazy" class="w-20 h-20" />
            <h2 slot="text" class="">Aquí puedes solicitar asesorías para realizar tus laboratorios</h2>
        </Card>
    </div>
</section>