---
import Layout from "../layouts/Layout.astro";
import FormAsesoria from "../sections/FormAsesoria.vue";
---

<Layout title="Asesoría">
	<h1 class="text-3xl text-center font-bold">Agendar asesoría</h1>
    <FormAsesoria client:load/>
</Layout>

