---
import Layout from "../layouts/Layout.astro";
import Info from "../sections/Info.astro";
import Carousel from "../sections/Carousel.vue";
---

<Layout title="Laboratorios">
	<h1 class="text-4xl text-center font-bold">Laboratorios</h1>
	<Carousel />
	<Info />
</Layout>
