---
import Layout from "../layouts/Layout.astro";
import LoginSection from "../sections/LoginSection.vue"
---

<Layout title="Iniciar Sesión">
    <div class="flex justify-center py-6">
        <h1 class="text-3xl text-center font-bold">Bienvenido Usuario</h1>
    </div>
    <LoginSection client:load/>
</Layout>