---
import Layout from "../layouts/Layout.astro";
import Login from "../sections/Login.vue";
---

<Layout title="Login">
    <div class="flex justify-center py-6">
        <h1 class="text-3xl text-center font-bold">LOGIN</h1>
    </div>
    <Login />
</Layout>